/*------------------------------------------------------------------
[Theme]
-------------------------------------------------------------------*/

body {
  background-color: var(--color-white);
  color: var(--color-black-900);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

body,
html {
  height: 100%;
}
