<section>
    <div *ngIf="formError">{{ formError }}</div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <app-go-back></app-go-back>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="modal-dialog w-100 mx-auto" role="document">
            <div>
                <form (submit)="formSubmit()" [formGroup]="userForm" class="" method="get" id="userId">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput name="first_name" type="text" formControlName="first_name">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Surname</mat-label>
                        <input matInput name="last_name" type="text" formControlName="last_name">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput name="email" type="text" formControlName="email">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput name="password" type="text" formControlName="password">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput name="confirm_password" type="text" formControlName="confirm_password">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Avatar</mat-label>
                        <input matInput name="avatar" type="text" formControlName="avatar">
                    </mat-form-field>
                    <br>
                    <div fxLayout="row" fxLayoutAlign="center center" class="footer">
                        <button mat-button color="primary" class="btn-form" id="sendMessage" type="submit">Update
                            User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>