<section>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <!-- logo -->
        <div>
            <span>
                <img src="../../assets/images/ms-icon-150x150.png">
            </span>
        </div>
        <div><h1>Práctica Angular - Post Space</h1></div>
        <!-- menu -->
        <div class="example-button-row">
            <button  mat-button color="primary" mat-stroked-button routerLink="/register">Registro</button>
            <button  mat-button color="primary" mat-stroked-button routerLink="/login">Login</button>
            <button mat-button color="primary" mat-stroked-button (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
    </div>
</section>